        <footer>
            <p>This application is copyrighted &copy;</p>
            <!-- link to GitHub -->
            <a href="https://github.com/riverb-creative/CS233WHW">
                    GitHub Repository for this application
            </a>
        </footer>
    </body>
</html>