<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/styles.css">
        <title> <%= title %> </title>
    </head>
    <body>
        <header>
            <h1><%= appName %></h1>
            <!-- logo img w/ link back to homepage path -->
            <a href="/">
                <img src="/images/pawprints.png" alt="black paw prints making a heart">
            </a><p>(Click the heart to go back to the homepage)</p>
        </header>