<%- include('./partials/header') %>

    <nav>
         <a href="/shoppingList">View Entire Shopping List</a>
         <a href="/addListItem">Add Shopping List Item</a>
         <a href="/deleteListItem">Delete Shopping List Item</a>
    </nav>

        <p class="appDesc">
            <!-- Short desc of the application -->
            This application was made to display a shopping list of pet products.
        </p> 
        <!-- 
        <p class="listLink">  
        link to the entire shopping list path
            <a href="/shoppingList">View Entire Shopping List</a>
        </p>
         -->
        <%- include('partials/footer') %>
