/* style for body of page */

    body {
        font-family:'Courier New', Courier, monospace;
        background-color: rgba(238, 228, 214, 0.846);
    }

/* style for image logo */

    img {
        width: 5%;
        height: auto;
        margin-top: 1em;
    }

/* style for nav bar */

nav {
    text-align: center;
}

/* style for header, footer, div, application description and link to entire shopping list*/

    header, footer, div, .appDesc, .listLink {
        text-align: center;
    }

    footer {
        display: flex;
        flex-direction: column;
        min-height: auto;
    }

/* styles for table on shoppingList page */

    table {
        border-collapse: collapse;
        margin: 3em;
    }

    td, th {
        border: 1px solid black;
        text-align: center;
        padding: 1em;
    }
    .canineSection {
        font-weight: bold;
        white-space: nowrap;
    }

    .felineSection {
        font-weight: bold;
        white-space: nowrap;
    }

    .rodentSection {
        font-weight: bold;
        white-space: nowrap;
    }

/* style for ul*/

ul {
    list-style-position: inside;
}

/* styles for forms */

form {
    border-radius: 7px;
    background-color: #cccbcb;
    text-align: center;
    padding: 20px;
}

input[type=submit] {
  width: 90%;
  background-color: #6e9c70;
  color: white;
  padding: 14px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=text], select {
  width: 90%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit]:hover {
  background-color: #5c825e;
}

form label {
    font-weight: bold;
}

select:focus, input:focus {
  background-color: #E5EBDF;
}
